{% extends "base.html" %} 
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 left">
            {% for entry in entry_list %}
            <div class="card my-4">
                <div class="card-body">
                    <h2 class="card-title">{{ entry.word }}</h2>
                    <p class="card-text text-muted h6">Dodano - {{ entry.created_at }} </p>
                    <p class="card-text">{{entry.definition|slice:":200" }}...</p>
                    <a href="{% url 'manager:entry-detail' entry.slug  %}" class="btn btn-primary">Zobacz &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
    
    {% if is_paginated %}
    <div class="row">
        <div class="col-md-8">
            <ul class="pagination ">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link" >&laquo;</span>
                </li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                    <span class="page-link" >&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}