{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>Encyklopedia</title>
        <link rel="stylesheet" href="{% static 'manager/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        {% block content %}

        {% endblock content %}

        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Strona przygotowana przez Jakuba Śliża.</p>
        </footer>
    </body>
</html>