{% extends "base.html" %} 
{% block content %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-12 col-md-12">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="{% url 'index' %}">Encyklopedia</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="#">Dodaj hasło i definicję</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'popular-entries' %}">Najpopularniejsze hasła</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'all-entries' %}">Wszystkie hasła</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Szukaj hasła.." aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Szukaj</button>
                      </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 left">
            {% for entry in entry_list %}
            <div class="card my-4">
                <div class="card-body">
                    <h2 class="card-title">{{ entry.word }}</h2>
                    <p class="card-text text-muted h6">Autor - {{ entry.author }} | Dodano - {{ entry.created_at }} </p>
                    <p class="card-text">{{entry.definition|slice:":200" }}...</p>
                    <a href="{% url 'entry-detail' entry.slug  %}" class="btn btn-primary">Zobacz &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock %}