{% extends "base.html" %} 
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 left">
            {% for entry in entry_list %}
            <div class="card my-4">
                <div class="card-body">
                    <h2 class="card-title">{{ entry.word }}</h2>
                    <p class="card-text text-muted h6">Dodano - {{ entry.created_at }} | Popularność - {{ entry.search_count }}</p>
                    <p class="card-text">{{entry.definition|slice:":200" }}...</p>
                    <a href="{% url 'manager:entry-detail' entry.slug  %}" class="btn btn-primary">Zobacz &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock %}